@import '../common/List.less';

.payment-info {
  input{
    text-align: left !important;
  }
  .payment-amount{
    input{
      color: #1B88EE !important;
    }
  }
  .btn-container{
    margin: 15px 0 0;
    padding: 0 10px;
    :global {
      a.am-button {
        border-radius: 3px !important;
      }
    }
  }
  :global {
    .am-list-content {
      min-width: 102px;
      max-width: 102px;
      margin-right: 5px;
    }
    .am-list-item .am-list-line .am-list-extra {
      flex: 1;
      text-align: left;
    }
  }
  .info{
    background: #ffffff;
    .card{
      position: relative;
      img{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 12.5px;
        left: 12.5px;
      }
      .card-info{
        position: relative;
        padding-left: 75px;
        .bank-name{
          height: 75px;
          h3,h4{
            margin: 0;
            color: #333333;
            font-weight: normal;
          }
          h3{
            font-size: 16px;
            padding-top: 10px;
            line-height: 32.5px;
          }
          h4{
            font-size: 14px;
            line-height: 17.5px;
            color:#9B9B9B;
          }
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          right: auto;
          top: auto;
          width: 100%;
          border-bottom: 1PX solid #ddd;
        }
      }
    }
  }
  .extra-code {
    :global {
      .am-input-error-extra {
        position: absolute;
        right: 2.5rem;
        top: 0.22rem;
      }

      .check-code {
        color: #1b98f4;
      }
    }
  }
  .server-protocol {
    text-align: center;
    a{
      color: #1B88EE;
      line-height: 90px;
      font-size: 28px;
    }
  }
}